<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>NodeBlog</title>
    <meta name="baidu-site-verification" content="xvbhXVo68f" />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/toastr.css' />
    <link rel='stylesheet' href='/css/font-awesome.min.css' />
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/toastr.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="topbar">
        <ul id="menu">
            <li class="fl logo"><a href="/">&nbsp;&nbsp;NodeBlog&nbsp;&nbsp;</a></li>
            <li class="fl"><a href="/">主页</a></li>
            <% if(user){ %>
            <li class="fl"><a href="/blog/<%- user.name || '' %>">我的博客</a></li>
            <li class="fl"><a href="/publish">发表文章</a></li>
            <li class="fr"><a href="/logout">退出</a></li>
            <li class="fr"><a href="/blog/系统公告">系统公告</a></li>
            <!-- <li class="fr"><a href="/updatePassword">修改密码</a></li> -->
            <% }else{ %>
            <li class="fr"><a href="/login">登录</a></li>
            <li class="fr"><a href="/reg">注册</a></li>
            <% } %>
            <li class="fr"><a href="###" id="userIds">您好，<%- user.name || '游客' %></a></li>
        </ul>
        <div class="headbar">
            <div class="fl"><h1>NodeBlog</h1></div>
        </div>
    </div>