<%- include header %>
<div style="overflow:hidden">
<div class="content_l">
	<div class="content_box">
		<p><h1><a href="article">"风暴追逐者"拍摄惊人沙尘暴</a></h1></p>
		<p>
	    <a href="blog">admin</a> / 2014.07.28</p>
		<div class="content_txt">
			<p>
				2014年7月28日消息，美国亚利桑那州凤凰城，沙尘暴来袭。39岁的“风暴追逐者”Mike Olbinksi在橙色“沙墙”向城市推进时拍摄到了这些惊人的画面。气象学家称，每年此时，亚利桑那州都是沙尘暴的“重灾区”。统计数字显示，当地平均每年要遭遇3到4次大型沙尘暴（能见度小于400米）袭击。
			</p>
		</div>
		<a href="###" class="more">read more...</a>
	</div>
	<div class="content_box">
		<p><h1><a href="article">"风暴追逐者"拍摄惊人沙尘暴</a></h1></p>
		<p>
	    <a href="blog">admin</a> / 2014.07.28</p>
		<div class="content_txt">
			<p>
				2014年7月28日消息，美国亚利桑那州凤凰城，沙尘暴来袭。39岁的“风暴追逐者”Mike Olbinksi在橙色“沙墙”向城市推进时拍摄到了这些惊人的画面。气象学家称，每年此时，亚利桑那州都是沙尘暴的“重灾区”。统计数字显示，当地平均每年要遭遇3到4次大型沙尘暴（能见度小于400米）袭击。
			</p>
		</div>
		<a href="###" class="more">read more...</a>
	</div>
	<div class="content_box">
		<p><h1><a href="article">"风暴追逐者"拍摄惊人沙尘暴</a></h1></p>
		<p>
	    <a href="blog">admin</a> / 2014.07.28</p>
		<div class="content_txt">
			<p>
				2014年7月28日消息，美国亚利桑那州凤凰城，沙尘暴来袭。39岁的“风暴追逐者”Mike Olbinksi在橙色“沙墙”向城市推进时拍摄到了这些惊人的画面。气象学家称，每年此时，亚利桑那州都是沙尘暴的“重灾区”。统计数字显示，当地平均每年要遭遇3到4次大型沙尘暴（能见度小于400米）袭击。
			</p>
		</div>
		<a href="###" class="more">read more...</a>
	</div>
	<div class="content_box">
		<p><h1><a href="article">"风暴追逐者"拍摄惊人沙尘暴</a></h1></p>
		<p>
	    <a href="blog">admin</a> / 2014.07.28</p>
		<div class="content_txt">
			<p>
				2014年7月28日消息，美国亚利桑那州凤凰城，沙尘暴来袭。39岁的“风暴追逐者”Mike Olbinksi在橙色“沙墙”向城市推进时拍摄到了这些惊人的画面。气象学家称，每年此时，亚利桑那州都是沙尘暴的“重灾区”。统计数字显示，当地平均每年要遭遇3到4次大型沙尘暴（能见度小于400米）袭击。
			</p>
		</div>
		<a href="###" class="more">read more...</a>
	</div>
	<div class="content_box">
		<p><h1><a href="article">"风暴追逐者"拍摄惊人沙尘暴</a></h1></p>
		<p>
	    <a href="blog">admin</a> / 2014.07.28</p>
		<div class="content_txt">
			<p>
				2014年7月28日消息，美国亚利桑那州凤凰城，沙尘暴来袭。39岁的“风暴追逐者”Mike Olbinksi在橙色“沙墙”向城市推进时拍摄到了这些惊人的画面。气象学家称，每年此时，亚利桑那州都是沙尘暴的“重灾区”。统计数字显示，当地平均每年要遭遇3到4次大型沙尘暴（能见度小于400米）袭击。
			</p>
		</div>
		<a href="###" class="more">read more...</a>
	</div>
	<div class="content_box">
		<p><h1><a href="article">"风暴追逐者"拍摄惊人沙尘暴</a></h1></p>
		<p>
	    <a href="blog">admin</a> / 2014.07.28</p>
		<div class="content_txt">
			<p>
				2014年7月28日消息，美国亚利桑那州凤凰城，沙尘暴来袭。39岁的“风暴追逐者”Mike Olbinksi在橙色“沙墙”向城市推进时拍摄到了这些惊人的画面。气象学家称，每年此时，亚利桑那州都是沙尘暴的“重灾区”。统计数字显示，当地平均每年要遭遇3到4次大型沙尘暴（能见度小于400米）袭击。
			</p>
		</div>
		<a href="###" class="more">read more...</a>
	</div>
	<div class="pageBox">
	    <span class="prepage"><a title="上一页" href="###">上一页</a></span>

	    <span class="nextpage"><a title="下一页" href="###">下一页</a></span>
	</div>
</div>
<div class="content_r">
	<div class="content_r_t">快速查询</div>
	<div class="content_r_b" id="oQuick">
	</div>
</div>
</div>
<%- include footer %>