<%- include header %>
<div id="container" class="center">
	<div class="info">
		<a href="/article">
			<div class="pic">
				<img class="lazy" src="images/pixel.gif" data-original="image/o5.jpg">
			</div>
			<div class="title">
				<span>沈阳“私人定制”影院 精美舒适艳丽</span>
			</div>
			<div class="desc">
				<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
			</div>
			<div class="user">
				<span>
					<i class="fa fa-comment-o"></i>99+
					<i class="fa fa-user"></i>adminadmin
					<i class="fa fa-calendar"></i>2014/08/14
				</span>
			</div>
		</a>
	</div>
	<div class="info">
		<div class="pic">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o2.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o5.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o3.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o2.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o5.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o3.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o2.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o5.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o3.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o2.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o5.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o3.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o2.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o5.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o3.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o2.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
</div>
<p id="back-to-top"><a href="###"><i class="fa fa-arrow-circle-o-up"></i>返回顶部</a></p>
<script type="text/javascript">
$(function(){
	//返回顶部
	$("#back-to-top").hide();
	$(window).scroll(function(){
		if($(window).scrollTop() > 100){
			$("#back-to-top").fadeIn(1500);
		}else{
			$("#back-to-top").fadeOut(1500);
		}
	});
	$("#back-to-top").click(function(){
		$('body,html').animate({scrollTop:0},1000);
		return false;	
	});
	//瀑布流
	$("img.lazy").lazyload({//图片懒加载
		load:function(){
			var $container = $('#container');
			$container.masonry({//瀑布流
			  columnWidth: 0,
			  itemSelector: '.info'
			});
		}
	});
});


</script>
<%- include footer %>