<%- include header %>
<!-- <div style="overflow:hidden">
	<%- user %>
<div class="content_l">
	<div class="content_box">
		<p><h1><a href="article">"风暴追逐者"拍摄惊人沙尘暴</a></h1></p>
		<p>
	    <a href="blog">admin</a> / 2014.07.28</p>
		<div class="content_txt">
			<p>
				2014年7月28日消息，美国亚利桑那州凤凰城，沙尘暴来袭。39岁的“风暴追逐者”Mike Olbinksi在橙色“沙墙”向城市推进时拍摄到了这些惊人的画面。气象学家称，每年此时，亚利桑那州都是沙尘暴的“重灾区”。统计数字显示，当地平均每年要遭遇3到4次大型沙尘暴（能见度小于400米）袭击。
			</p>
		</div>
		<a href="###" class="more">read more...</a>
	</div>
	<div class="content_box">
		<p><h1><a href="article">"风暴追逐者"拍摄惊人沙尘暴</a></h1></p>
		<p>
	    <a href="blog">admin</a> / 2014.07.28</p>
		<div class="content_txt">
			<p>
				2014年7月28日消息，美国亚利桑那州凤凰城，沙尘暴来袭。39岁的“风暴追逐者”Mike Olbinksi在橙色“沙墙”向城市推进时拍摄到了这些惊人的画面。气象学家称，每年此时，亚利桑那州都是沙尘暴的“重灾区”。统计数字显示，当地平均每年要遭遇3到4次大型沙尘暴（能见度小于400米）袭击。
			</p>
		</div>
		<a href="###" class="more">read more...</a>
	</div>
	<div class="content_box">
		<p><h1><a href="article">"风暴追逐者"拍摄惊人沙尘暴</a></h1></p>
		<p>
	    <a href="blog">admin</a> / 2014.07.28</p>
		<div class="content_txt">
			<p>
				2014年7月28日消息，美国亚利桑那州凤凰城，沙尘暴来袭。39岁的“风暴追逐者”Mike Olbinksi在橙色“沙墙”向城市推进时拍摄到了这些惊人的画面。气象学家称，每年此时，亚利桑那州都是沙尘暴的“重灾区”。统计数字显示，当地平均每年要遭遇3到4次大型沙尘暴（能见度小于400米）袭击。
			</p>
		</div>
		<a href="###" class="more">read more...</a>
	</div>
	<div class="content_box">
		<p><h1><a href="article">"风暴追逐者"拍摄惊人沙尘暴</a></h1></p>
		<p>
	    <a href="blog">admin</a> / 2014.07.28</p>
		<div class="content_txt">
			<p>
				2014年7月28日消息，美国亚利桑那州凤凰城，沙尘暴来袭。39岁的“风暴追逐者”Mike Olbinksi在橙色“沙墙”向城市推进时拍摄到了这些惊人的画面。气象学家称，每年此时，亚利桑那州都是沙尘暴的“重灾区”。统计数字显示，当地平均每年要遭遇3到4次大型沙尘暴（能见度小于400米）袭击。
			</p>
		</div>
		<a href="###" class="more">read more...</a>
	</div>
	<div class="content_box">
		<p><h1><a href="article">"风暴追逐者"拍摄惊人沙尘暴</a></h1></p>
		<p>
	    <a href="blog">admin</a> / 2014.07.28</p>
		<div class="content_txt">
			<p>
				2014年7月28日消息，美国亚利桑那州凤凰城，沙尘暴来袭。39岁的“风暴追逐者”Mike Olbinksi在橙色“沙墙”向城市推进时拍摄到了这些惊人的画面。气象学家称，每年此时，亚利桑那州都是沙尘暴的“重灾区”。统计数字显示，当地平均每年要遭遇3到4次大型沙尘暴（能见度小于400米）袭击。
			</p>
		</div>
		<a href="###" class="more">read more...</a>
	</div>
	<div class="content_box">
		<p><h1><a href="article">"风暴追逐者"拍摄惊人沙尘暴</a></h1></p>
		<p>
	    <a href="blog">admin</a> / 2014.07.28</p>
		<div class="content_txt">
			<p>
				2014年7月28日消息，美国亚利桑那州凤凰城，沙尘暴来袭。39岁的“风暴追逐者”Mike Olbinksi在橙色“沙墙”向城市推进时拍摄到了这些惊人的画面。气象学家称，每年此时，亚利桑那州都是沙尘暴的“重灾区”。统计数字显示，当地平均每年要遭遇3到4次大型沙尘暴（能见度小于400米）袭击。
			</p>
		</div>
		<a href="###" class="more">read more...</a>
	</div>
	<div class="pageBox">
	    <span class="prepage"><a title="上一页" href="###">上一页</a></span>

	    <span class="nextpage"><a title="下一页" href="###">下一页</a></span>
	</div>
</div>
<div class="content_r">
	<div class="content_r_t">快速查询</div>
	<div class="content_r_b" id="oQuick">
	</div>
</div>
</div> -->

<div id="container" class="center">
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o5.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o3.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o2.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o5.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o3.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o2.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o5.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o3.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o2.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o5.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o3.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o2.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o5.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o3.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o2.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o5.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o3.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
	<div class="info">
		<div class="pic">
			<img class="lazy" src="images/pixel.gif" data-original="image/o2.jpg">
		</div>
		<div class="title">
			<span>沈阳“私人定制”影院 精美舒适艳丽</span>
		</div>
		<div class="desc">
			<span>2014年08月13日，两位市民在“艾米1895电影街”观看影片。日前，名为“艾米1895电影街”的“私人定制”影院亮相沈阳。这家影院一共有20多个包间，面积12-16平方米不等，分海洋、儿童、爱情等多个主题。据了解，该影院采用与传统院线不同的商业模式，购买了数千部影片的版权，每周更新，按包厢收费，影迷可以按照自己的喜好点播影片。</span>
		</div>
		<div class="user">
			<span>
				<i class="fa fa-comment-o"></i>99+
				<i class="fa fa-user"></i>adminadmin
				<i class="fa fa-calendar"></i>2014/08/14
			</span>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
	$("img.lazy").lazyload({//图片懒加载
		load:function(){
			alert(11);
			var $container = $('#container');
			$container.masonry({//瀑布流
			  columnWidth: 0,
			  itemSelector: '.info'
			});
		}
	});
});


</script>
<%- include footer %>