<%- include header %>
<div class="loginBox">
	帐户姓名：<input type="text" name="name"/><br />
	帐户密码：<input type="password" name="password"/><br />
	<a class="addBtn" href="###" id="login">登录</a>
	<a class="addBtn" href="/reg" id="regUser">注册</a>
</div>
<%- include footer %>