<%- include header %>
<div class="content_c">
		<div>
			<input type="text" name="title" class="pTitle"/>
			<input type="checkbox" name="type" value="c" checked="true">
			<span class="pType">Publicly released[公开发表]</span>
		</div>
		<br />
		<div class="pContentBox">
			<div>
				
			</div>
			<textarea name="content" rows="20" cols="100"></textarea><br />
		</div>
		<input type="submit" value="Submit" class="submit"/>
</div>