<%- include header %>
<div class="content">
	<div class="publish">
		<div>
			<h1>发布文章</h1>
		</div>
		<br />
		<div>
			<span class="pTitle">文章标题:</span>
			<input type="text" name="title" class="pTitleText"/>
			<input type="checkbox" name="type" value="c" checked="true">
			<span class="pType">公开发表</span>
		</div>
		<br />
		<div>
			<textarea class="ckeditor form-control text" name="editor1" id="textEditable"></textarea>
		</div>
		<div>
			<a class="addBtn" href="###" id="insertArticle">提交</a>
		</div>
	</div>
</div>
<%- include footer %>
<script type="text/javascript" src="ckeditor/ckeditor.js"></script>  
<script type="text/javascript" src="ckeditor/config.js"></script>  
<script type="text/javascript">
$(function(){
	$('#insertArticle').click(function(){
		var title = $('input[type=text]').val();
		var content = CKEDITOR.instances.textEditable.getData();
		var type = $('input[type=checkbox]').is(':checked') ? 'public' : 'private';
		if('' == title){
			toastr.error('文章标题不能为空。');
			return;
		}
		if('' == content){
			toastr.error('文章内容不能为空。');
			return;
		}
		console.log(title,type,content);
		$.ajax({
            type: 'POST',
            url: '/insertArticle',
            data: {title : title, content : content,type : type},
            success: function(result){
            	console.log(result);
                if(0 == result.status){
                	toastr.success(result.content);
                	// window.location.href = '/';
                }else{
                	toastr.error(result.content);
                }
            }
        });

	});
});
</script>
