<%- include header %>
<link href="css/croppic.css" rel="stylesheet">
<style type="text/css">

</style>
<div class="content">
	<div class="panelBox publishPanel">
		<div class="title">
			<h1>发布文章</h1>
		</div>
		<div class="pTitleBox">
			<span class="pTitle">文章标题:</span>
			<input type="text" name="title" class="pTitleText"/>
			<input type="checkbox" name="type" value="c" checked="true">
			<span class="pType">公开发表</span>
			<span class="addBtn" style="margin: 0;" id="cropContainerHeaderButton">上传栏目图</span>
		</div>
		<div class="pContentBox">
			<div class="fl" style="width:25%;overflow:hidden;height:310px;">
				<div id="croppic">
				</div>
			</div>
			<div class="fl" style="width:75%">
				<textarea class="ckeditor form-control text" name="editor1" id="textEditable"></textarea>
			</div>
		</div>
		<div class="pBtn">
			<a class="addBtn" href="###" id="insertArticle">提交</a>
		</div>
	</div>
</div>
<%- include footer %>
<script type="text/javascript" src="ckeditor/ckeditor.js"></script>  
<script type="text/javascript" src="ckeditor/config.js"></script>  
<script type="text/javascript" src="js/croppic.js"></script>

<script type="text/javascript">
$(function(){
	$('#insertArticle').click(function(){
		var title = $('input[type=text]').val();
		var content = CKEDITOR.instances.textEditable.getData();
		var type = $('input[type=checkbox]').is(':checked') ? 'public' : 'private';
		var imageSrc = $('.cropImgWrapper img').attr('src');
		if('' == title){
			toastr.error('文章标题不能为空。');
			return;
		}
		if(title.length > 21){
			toastr.error('文章标题字数不能超过22个字。');
			return;
		}
		var reg = /select|insert|delect|update/img;
		if(reg.test(title)){
			toastr.error('请不要输入sql，你有破坏的心态呦~');
			return;
		}
		var reg2 = /script|alert|1=1|115.29.138.216|8080|url|<|>/img;
		if(reg2.test(title)){
			toastr.error('这么小一个博客网站，就别破坏了吧。');
			return;
		}
		if('' == content){
			toastr.error('文章内容不能为空。');
			return;
		}
		$.ajax({
            type: 'POST',
            url: '/insertArticle',
            data: {title : title, content : content,type : type,imageSrc : imageSrc},
            success: function(result){
            	console.log(result);
                if(0 == result.status){
                	// toastr.success(result.content);
                	window.location.href = '/';
                }else{
                	toastr.error(result.content);
                }
            }
        });

	});


	var croppicHeaderOptions = {
			uploadUrl:'/imgSaveToFile',
			customUploadButtonId:'cropContainerHeaderButton',
			modal:false,
			imgEyecandy:false,
			loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
			onBeforeImgUpload: function(){ console.log('onBeforeImgUpload');return; },
			onAfterImgUpload: function(){ console.log('onAfterImgUpload') },
			onImgDrag: function(){ console.log('onImgDrag') },
			onImgZoom: function(){ console.log('onImgZoom') },
			onBeforeImgCrop: function(){ console.log('onBeforeImgCrop') },
			onAfterImgCrop:function(){ console.log('onAfterImgCrop'); }
	}	
	var croppic = new Croppic('croppic', croppicHeaderOptions);

});
</script>
