<%- include header %>
<div class="regBox">
	输入姓名：<input type="text" id="userName"/><br />
	输入密码：<input type="password" id="password"/><br />
	确认密码：<input type="password" id="passwordRepeat"/><br />
	<a class="addBtn" href="###" id="regUser">注册</a>
	<a class="addBtn" href="/login" id="login">登录</a>
</div>
<%- include footer %>
<script type="text/javascript">
$(function(){
	var userName,passWord,passwordRepeat;
	//注册
	$('#regUser').click(function(){
		userName = $('#userName').val();
		passWord = $('#password').val();
		passwordRepeat = $('#passwordRepeat').val();
		//校验
		if(changeCheck()){
			$.ajax({
                type: 'POST',
                url: '/reg',
                data: {userName : userName, passWord : passWord},
                success: function(result){
                    if(0 == result.status){
                    	toastr.success(result.content);
                    	window.location.href = '/';
                    }else{
                    	toastr.error(result.content);
                    }
                }
            });
		}
	});

	function changeCheck(){
		var userPatrn = /^(\w|[\u4e00-\u9fa5]){2,10}$/;
		var pwdPatrn = /^(\w){5,10}$/;
		if('' == userName){
			toastr.warning('用户名不能为空');
			return false;
		}
		if(!userPatrn.exec(userName)){
			toastr.warning('用户名只能输入2-10个字母、数字、下划线');
			return false;
		}
		if('' == passWord || '' == passwordRepeat){
			toastr.warning('密码不能为空');
			return false;
		}
		if(passWord != passwordRepeat){
			toastr.warning('密码不相同,请重新输入');
			return false;
		}
		if(!pwdPatrn.exec(passWord) || !pwdPatrn.exec(passwordRepeat)){
			toastr.warning('密码只能输入5-20个字母、数字、下划线');
			return false;
		}
		return true;
	}
});
</script>