<%- include header %>
<div class="regBox">
	&nbsp;&nbsp;&nbsp;&nbsp;旧密码：<input type="text" id="oldPassword"/><br />
	&nbsp;&nbsp;&nbsp;&nbsp;新密码：<input type="password" id="newPassword"/><br />
	确认密码：<input type="password" id="passwordRepeat"/><br />
	<a class="addBtn" href="###" id="updatePassword">修改密码</a>
</div>
<%- include footer %>
<script type="text/javascript">
$(function(){
	var oldPassword,newPassword,passwordRepeat;
	//修改
	$('#updatePassword').click(function(){
		oldPassword = $('#oldPassword').val();
		newPassword = $('#newPassword').val();
		passwordRepeat = $('#passwordRepeat').val();
		//校验
		if(changeCheck()){
			$.ajax({
                type: 'POST',
                url: '/updatePassword',
                data: {oldPassword : oldPassword, newPassword : newPassword},
                success: function(result){
                    if(0 == result.status){
                    	toastr.success(result.content);
                    }else{
                    	toastr.error(result.content);
                    }
                }
            });
		}
	});

	function changeCheck(){
		var patrn = /^(\w){5,20}$/;
		if('' == oldPassword || '' == newPassword || '' == passwordRepeat){
			toastr.warning('密码不能为空');
			return false;
		}
		if(newPassword != passwordRepeat){
			toastr.warning('密码不相同,请重新输入');
			return false;
		}
		if(!patrn.exec(newPassword) || !patrn.exec(passwordRepeat) || !patrn.exec(oldPassword)){
			toastr.warning('密码只能输入5-20个字母、数字、下划线');
			return false;
		}
		return true;
	}
});
</script>